<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">My path</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/7.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Feb 2023 - now</h4>
                                    <h4 class="subheading">Cloud & DevOps Solution architect</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Improve engineering practices for clients.<br>
                                        Standardisation efforts from the DevOps and Cloud engineering perspective.<br>
                                        Well architecture reviews. Cloud migrations, CI/CD improvements.<br>
                                        Populate DevOps engineering best practices.<br>
                                        <b>Stack</b>: terragrunt, terraform, Migration Projects, Git, Amazon Web Services (AWS), AWS Well Architectured Framework, AWS costs optimisation, Kubernetes, Gitlab CI/CD Pipelines, Jenkins
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/9.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Now 2022 - Feb 2023</h4>
                                    <h4 class="subheading">DevOps Engineering Manager</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Manage DevOps CoE team of 11 engineers working on 5 parallel projects. 
                                        Customer relationship. Mod monitoring, mentoring, hiring, onboarding, process ironing. Scrum, Kanban, 1-to-1s, Tearraform, kubernetes, helm, AWS, GCP, Jenkins, groovy, configuration-as-a-code
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/8.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2021 - Now 2022</h4>
                                    <h4 class="subheading">DevOps TechLead/Solution Architect</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Green-grass migration to AWS of the distributes application. 
                                        Tearraform, kubernetes, helm, AWS, Jenkins, jCaaC, groovy, configuration-as-a-code
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/7.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Now 2020 - March 2021</h4>
                                    <h4 class="subheading">DevOps solution architect</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Multicloud platform for distributed healthcare application. 
                                        Tearraform, kubernetes, helm, AWS, GCP, Azure, Jenkins, groovy
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2018 - Now 2020</h4>
                                    <h4 class="subheading">DevOps/SRE Team Lead</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Built the team of 7 engineers. Implemented team work processes targeted to be highly transparent, predicatable and easily reportable. 
                                        Achieved the state of 10 production releases per day. 
                                        Team Leadership, team management, reporting, Scrum, Kanban, Terraform, AWS, linux, docker, EKS, ECS, ansible, GitlabCI
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2016 - May 2018</h4>
                                    <h4 class="subheading">Enterprise DevOps engineer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        DevOps and cloud engineering for high-load distributed enterprise application with microservice architecture.
                                        Migration into AWS cloud, infrastructure as a code, right sizing, costs optimization. 
                                        On-prem, AWS, Terraform, linux, docker, EKS, ECS, ansible, Jenkins, GitlabCI
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-2016</h4>
                                    <h4 class="subheading">Proffessional migrations services</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Manual and automated "migrations-as-a-sesrvice" to AWS cloud and on-prem servers. 
                                        Linux, Windows, bash, python, ansible, docker, wordpress, magento, drupal, jango, mail servers, Plsk, WHM/cPanel
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010-2012</h4>
                                    <h4 class="subheading">support e-Commerce development</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Work in e-commerce area. The major focus is Magento developers with the need for provisioning and fine tuning of linux VMs for the websites. 
                                        Linux, bash, apache, nginx, mysql.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>