<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3>Who we are?</h3>
                                <h4 class="subheading">AWS Cloud experts & DevOps engineers</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    A team of DevOps engineers with 5-8+ years of experience in providing DevOps services in enterprise domain.
                                    We came from TOP5 Ukrainian IT companies.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/5.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3>What we do?</h3>
                                <h4 class="subheading">Build infrastructure in AWS Cloud</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    We build AWS Cloud Platforms based on the application needs, help to adopt application architecture according to <a href="https://aws.amazon.com/cloud-adoption-framework/">AWS Cloud Adoptation framework</a> abd create CoE team to support the platform.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/8.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3>Why we do it?</h3>
                                <h4 class="subheading">Eliminate DevOps technical debt from early project stages</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Most of the small solutions are forced to start without decent DevOps expertice. 
                                    Our service offering allows to skip the need of hiring the DevOps engineers and eliminate the technical debt from early project stages.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/7.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>How we do it?</h4>
                                <h4 class="subheading">Collective knowledge sanitized into internal standards</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    We adopted the best practices from <a href="https://aws.amazon.com/architecture/well-architected/">AWS Well-Architected framework</a> and packaged those into internal standards that we use on the day to day basis.
                                    This hard work allows to work smart and covers security, automation, kubernetes, monitoring, CI/CD and infrastructure as code with terraform.            
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <h4>Be Part
                                <br>Of Our
                                <br>Story!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>