<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">DevOps professional services for startups and enterprise development</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-amazon fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cloud Migrations</h4>
                    <p class="text-muted">This is a multistage type of the project to make your application run in AWS cloud.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cloud RunCost optimization</h4>
                    <p class="text-muted">This is a separate type of the service for those who run in cloud for a long time and would like to reduce the costs or confirm that costs are used efficiently.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa fa-support fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cloud Infrastructure support</h4>
                    <p class="text-muted">This is a maintenance plan where I can provide support to your infra while you are looking for permanent cloud engineer.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code-fork fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Infrastructure as a Code</h4>
                    <p class="text-muted">I can codify your existing infrastructure with terraform to meke it documented and re-usable.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tachometer fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">CI/CD</h4>
                    <p class="text-muted">Incease efficiency of your application delivery to prod by building the simple and reliable flow of testing your application and delivering it to prod.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Custom quote</h4>
                    <p class="text-muted">Any work related to DevOps toolkit.</p>
                </div>
            </div>
        </div>
    </section>